- content_for :title, @user.full_name

%h2.page-header= @user.full_name

%h3 Roles

- @current_user.admin_organization.roles.each do |role|
  - if @user.has_role?(role.id)
    = bootstrap_form_tag url: remove_role_users_path, :method => "post" do
      = hidden_field_tag :role_id, role.id
      = hidden_field_tag :user_id, @user.id
      = submit_tag "Remove #{role.name} Role", class: 'btn btn-danger'
  - else
    = bootstrap_form_tag url: assign_role_users_path, :method => "post" do
      = hidden_field_tag :role_id, role.id
      = hidden_field_tag :user_id, @user.id
      = submit_tag "Assign #{role.name} Role", class: 'btn btn-primary'

%h3 Scheduled Shifts

- if @user.shifts.scheduled.any?
  .panel.panel-default
    .table-responsive
      %table.table.table-striped
        %tbody
          %tr
            %th Name
            %th Date
            %th Time
          - @user.shifts.scheduled.each do |shift|
            %tr
              %td= link_to shift.name, shift_path(shift)
              %td= shift.formatted_date
              %td= shift.formatted_time_range
- else
  %p No upcoming shifts

- if @user.shifts.completed.any?
  %h3 Completed Shifts

  .panel.panel-default
    .table-responsive
      %table.table.table-striped
        %tbody
          %tr
            %th Name
            %th Date
            %th Time
          - @user.shifts.completed.each do |shift|
            %tr
              %td= link_to shift.name, shift_path(shift)
              %td= shift.formatted_date
              %td= shift.formatted_time_range

