.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Shift Type
          %th Date
          %th Available Spots
          %th Schedule
          - if can_cancel
            %th
        - shifts.order(:date, :start_time).each do |shift|
          %tr
            %td= link_to shift.name, shift_path(shift)
            %td
              = shift.formatted_date
              %p
                %small
                  %i= shift.formatted_time_range
            %td
              = shift.formatted_available_spots
              - if shift.role.present?
                %p
                  %small= "Required Role: #{shift.role.name}"
            %td= shift.schedule&.formatted_frequency
            - if can_cancel
              %td= button_to 'Cancel', admin_cancel_shift_path(shift), {class: 'btn btn-danger', data: { confirm: "Are you sure you want to cancel this #{shift.name} shift?  If volunteers have already signed up, they will be notified by email." }}
