- content_for :title, "Edit Shift"

%h2.page-header Edit shift

= bootstrap_form_for @shift, layout: :horizontal, control_col: "col-sm-9" do |f|
  = f.select(:shift_type_id, @types)
  = f.date_field :date
  = f.time_field :start_time
  = f.time_field :end_time
  = f.number_field :spots, label: 'Volunteers Needed'
  = f.submit
