- content_for :title, 'Shifts'

%h2.page-header Shifts

%p= link_to 'Create New Shift', new_shift_path

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %td Organization
          %td Name
          %td Date
          %td Time
          %td Available Slots
          %td Required Role
          %td
        - @shifts.each do |shift|
          %tr
            %td= link_to shift.organization.name, organization_path(shift.organization)
            %td= link_to shift.name, shift_path(shift)
            %td= shift.formatted_date
            %td= shift.formatted_time_range
            %td= shift.formatted_available_slots
            %td
              - if shift.role
                = link_to shift.role.name, role_path(shift.role)
              - else
                N/A
            %td
              - if shift.users.include?(User.first)
                = button_to '✔', {}, {disabled: true, class: 'btn btn-success disabled'}
              - elsif shift.remaining_slots.positive?
                = button_to 'Sign Up', sign_up_shift_path(shift), {class: 'btn btn-primary', data: { confirm: "Are you sure you want to sign up for #{shift.name} on #{shift.formatted_date}?" }}
              - else
                = button_to 'Full', {}, {disabled: true, class: 'btn btn-primary'}
