- content_for :title, 'Shifts'

%h2.page-header Shifts

%p= link_to 'Create New Shift', new_shift_path

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Organization
          %th Name
          %th Date
          %th Time
          %th Available Spots
          %th Required Role
        - @shifts.each do |shift|
          %tr
            %td= link_to shift.organization.name, organization_path(shift.organization)
            %td= link_to shift.name, shift_path(shift)
            %td= shift.formatted_date
            %td= shift.formatted_time_range
            %td= shift.formatted_available_spots
            %td
              - if shift.role
                = link_to shift.role.name, role_path(shift.role)
              - else
                N/A
