- content_for :title, 'Find Shifts'

%h2.page-header Find Shifts

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Organization
          %th Name
          %th Description
          %th Date
          %th Time
          %th Available Slots
          %th Required Role
          %th
        - @shifts.each do |shift|
          %tr
            %td= link_to shift.organization.name, organization_path(shift.organization)
            %td= shift.name
            %td= shift.description
            %td= shift.formatted_date
            %td= shift.formatted_time_range
            %td= shift.formatted_available_slots
            %td
              - if shift.role
                = shift.role.name
              - else
                N/A
            %td
              - if shift.users.include?(User.first)
                = button_to '✔', {}, {disabled: true, class: 'btn btn-success disabled'}
              - elsif shift.remaining_slots.positive?
                = button_to 'Sign Up', sign_up_shift_path(shift), {class: 'btn btn-primary', data: { confirm: "Are you sure you want to sign up for #{shift.name} on #{shift.formatted_date}?" }}
              - else
                = button_to 'Full', {}, {disabled: true, class: 'btn btn-primary'}
