- content_for :title, 'Find Shifts'

%h2.page-header Find Shifts

- if @available_only
  %p= link_to 'Show all', search_index_shifts_path(organization_id: @organization&.id)
- else
  %p= link_to 'Only show available', search_index_shifts_path(available_only: true, organization_id: @organization&.id)

- if @organization.present?
  %p= "Only showing shifts for #{@organization.name}"

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Organization
          %th Name
          %th Date
          %th Available Spots
          / %th Required Role
          %th
        - @shifts.each do |shift|
          %tr
            %td= link_to shift.organization.name, organization_path(shift.organization)
            %td
              = shift.name
              %p
                %small
                  %i= shift.description
            %td
              = shift.formatted_date
              %p
                %small
                  %i= shift.formatted_time_range
            %td= shift.formatted_available_spots
            / %td
            /   - if shift.role
            /     = shift.role.name
            /   - else
            /     N/A
            %td
              - if shift.users.include?(@current_user)
                = button_to 'Signed Up', {}, {disabled: true, class: 'btn btn-success disabled'}
                = button_to 'Cancel', user_cancel_shift_path(shift), {class: 'btn btn-danger', data: { confirm: "Are you sure you want to cancel your #{shift.name} shift?" }}
              - elsif shift.remaining_spots.positive?
                = button_to 'Sign Up', sign_up_shift_path(shift), {class: 'btn btn-primary', data: { confirm: "Are you sure you want to sign up for the #{shift.name} shift on #{shift.formatted_date} at #{shift.organization.name}?" }}
              - else
                = button_to 'Full', {}, {disabled: true, class: 'btn btn-primary'}
