- content_for :title, @shift.name

%h2.page-header
  = @shift.name
  %small= @shift.formatted_date

%p= link_to "Edit", edit_shift_path(@shift)

%h3 Details

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Shift Type
          %th Date
          %th Time
          %th Available Spots
          %th Required Role
        %tr
          %td= @shift.shift_type.name
          %td= @shift.formatted_date
          %td= @shift.formatted_time_range
          %td= @shift.formatted_available_spots
          %td
            - if @shift.role
              = @shift.role.name
            - else
              N/A

%h3
  = 'Volunteers'
  %small= @shift.formatted_filled_spots
- if @shift.users.any?
  .panel.panel-default
    .table-responsive
      %table.table.table-striped
        %tbody
          %tr
            %th
            %th Name
          - @shift.users.each do |user|
            %tr
              %td.table-img-td
                - if user.avatar_url
                  = image_tag user.avatar_url, size: '40x40', class: 'avatar'
              %td= link_to user.full_name, user_path(user)
- else
  No volunteers have signed up yet
