- content_for :title, @shift.name

%h2.page-header
  = @shift.name
  %small= @shift.formatted_date

%p= link_to "Edit", edit_shift_path(@shift)

%h3 Details

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %td Organization
          %td Name
          %td Date
          %td Time
          %td Available Slots
        %tr
          %td= link_to @shift.organization.name, organization_path(@shift.organization)
          %td= @shift.shift_type.name
          %td= @shift.formatted_date
          %td= @shift.formatted_time_range
          %td= @shift.formatted_available_slots

%h3
  = 'Volunteers'
  %small= @shift.formatted_filled_slots

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %td Name
        - @shift.users.each do |user|
          %tr
            %td= link_to user.full_name, user_path(user)
