%h3 Scheduled

- if @scheduled_shifts.any?
  .panel.panel-default
    .table-responsive
      %table.table.table-striped
        %tbody
          / %tr
          /   %th Organization
          /   %th Name
          /   %th Date
          /   %th Time
          /   %th
          - @scheduled_shifts.each do |shift|
            %tr
              %td{style: 'width: 1px'}
                -if shift.organization.logo.present?
                  = image_tag shift.organization.logo, style: "max-height: 60px; max-width: 60px;"
              %td= link_to shift.organization.name, organization_path(shift.organization)
              %td
                = shift.name
                %p
                  %small
                    %i= shift.description
              %td= shift.formatted_date
              %td= shift.formatted_time_range
              %td= button_to 'Cancel', user_cancel_shift_path(shift), {class: 'btn btn-danger', data: { confirm: "Are you sure you want to cancel your #{shift.name} shift?" }}
- else
  %p
    You don't have any upcoming shifts, sign up
    = link_to 'here', search_shifts_path

- if @completed_shifts.any?
  %h3 Completed

  .panel.panel-default
    .table-responsive
      %table.table.table-striped
        %tbody
          / %tr
          /   %th Organization
          /   %th Name
          /   %th Date
          /   %th Time
          - @completed_shifts.each do |shift|
            %tr
              %td{style: 'width: 1px'}
                -if shift.organization.logo.present?
                  = image_tag shift.organization.logo, style: "max-height: 60px; max-width: 60px;"
              %td= link_to shift.organization.name, organization_path(shift.organization)
              %td= shift.name
              %td= shift.formatted_date
              %td= shift.formatted_time_range

