- content_for :title, "Create Role"

%h2.page-header Create a new role

= bootstrap_form_for @role, layout: :horizontal, control_col: "col-sm-9" do |f|
  = f.hidden_field :organization_id, value: 1
  = f.text_field :name
  = f.text_area :description
  = f.submit
