%h3
  Admins
  %small{style: 'float: right;'}= link_to "Invite someone to become an admin", edit_organization_path(@organization)

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Name
          %th Email
          %th
        - @organization.admins.each do |admin|
          %tr
            %td= admin.full_name
            %td= admin.email
            %td= button_to 'Revoke admin privileges', revoke_admin_organization_path(@organization), {class: 'btn btn-danger', params: {user_id: admin.id}, data: { confirm: "Are you sure you want to revoke admin privileges for #{admin.full_name}?" }, style: 'float: right;'}
