%h3
  Details
  %small{style: 'float: right;'}= link_to "Edit", edit_organization_path(@organization)

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Name
          %th Description
          %th Url
          %th Requires Approval
          %th Logo
        %tr
          %td= @organization.name
          %td= @organization.description
          %td= @organization.url
          %td= @organization.requires_approval
          %td
            - if @organization.logo.present?
              = image_tag @organization.logo, style: "max-height: 60px; max-width: 60px;"
