%h3
  Schedules
  %small{style: 'float: right;'}= link_to 'Create a new schedule', new_schedule_path

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Type
          %th Dates
          %th Time
          %th Frequency
          %th Spots
          %th Days Out
        - @organization.schedules.each do |schedule|
          %tr
            %td= link_to schedule.name, schedule_path(schedule)
            %td= schedule.formatted_dates
            %td= schedule.formatted_time_range
            %td= schedule.formatted_frequency
            %td= schedule.spots
            %td= schedule.days_out
