- if @pending_users.any?
  %h3 Pending Approval

  .panel.panel-default
    .table-responsive
      %table.table.table-striped
        %tbody
          - @pending_users.each do |user|
            %tr
              %td= link_to user.full_name, user_path(user)
              %td= user.email
              %td= button_to 'Grant Access', grant_access_organization_path(user.current_user_org.organization), {class: 'btn btn-success', params: {user_id: user.id}, data: { confirm: "Are you sure you want to grant access to #{user.full_name}?" }}
              %td= button_to 'Deny Access', deny_access_organization_path(user.current_user_org.organization), {class: 'btn btn-danger', params: {user_id: user.id}, data: { confirm: "Are you sure you want to deny access to #{user.full_name}?" }}
              %td= button_to 'Ban User', ban_user_organization_path(user.current_user_org.organization), {class: 'btn btn-danger', params: {user_id: user.id}, data: { confirm: "Are you sure you want to ban #{user.full_name}?" }}

%h3 Volunteers

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        - @users.each do |user|
          %tr
            %td.table-img-td
              - if user.avatar_url
                = image_tag user.avatar_url, size: '40x40', class: 'avatar'
            %td= link_to user.full_name, user_path(user)
            %td= user.email
