- content_for :title, "Edit #{@organization.name}"

%h2.page-header= "Edit #{@organization.name}"

= bootstrap_form_for @organization, layout: :horizontal, control_col: "col-sm-9" do |f|
  = f.text_field :name
  = f.text_area :description
  = f.url_field :url, label: "Website"
  = f.check_box :requires_approval, label: "Only approved users can sign up for shifts"
  - if @organization.logo.present?
    = image_tag @organization.logo, style: "max-height: 60px; max-width: 60px;"
  = f.file_field :logo, accept: 'image/png,image/jpeg'
  = f.submit

:javascript
  $(document).on('ready turbolinks:load', function() {
    $('.custom-file-input').change(function(){
      $('.custom-file-label').text(this.value);
    });
  });
