- content_for :title, @organization.name

%h2.page-header= @organization.name

/ .side-bar
/   %ul
/     %li
/       %a.tab-link{data: {tab: 'details'}} Details
/     %li
/       %a.tab-link{data: {tab: 'admins'}} Admins
/     %li
/       %a.tab-link{data: {tab: 'roles'}} Roles
/     %li
/       %a.tab-link{data: {tab: 'shift_types'}} Shift Types
/     %li
/       %a.tab-link{data: {tab: 'shifts'}} Shifts
/     %li
/       %a.tab-link{data: {tab: 'volunteers'}} Volunteers

/ .side-bar-right
/   .tab-content
/     = render 'organizations/manage/details'

/ :javascript
/   $(document).on('turbolinks:load', function() {
/     $('.tab-link').on('click', tabChange);
/   });

/   var tabChange = function(){
/     var tab = $(this).data('tab');
/     $.get('change_tab', { tab: tab }).success(function(payload) {
/       $('.tab-content').html($(payload));
/     });
/   };

.side-bar
  .nav.flex-column.nav-pills{id:"tab", role:"tablist", 'aria-orientation' => "vertical"}
    %a.nav-link.active{id:"details-tab", 'data-toggle' => "pill", href:"#details", role:"tab", 'aria-controls' => "details", 'aria-selected' => "true"}
      Details
    %a.nav-link{id:"admins-tab", 'data-toggle' => "pill", href:"#admins", role:"tab", 'aria-controls' => "admins", 'aria-selected' => "false"}
      Admins
    %a.nav-link{id:"roles-tab", 'data-toggle' => "pill", href:"#roles", role:"tab", 'aria-controls' => "roles", 'aria-selected' => "false"}
      Roles
    %a.nav-link{id:"shift-types-tab", 'data-toggle' => "pill", href:"#shift-types", role:"tab", 'aria-controls' => "shift-types", 'aria-selected' => "false"}
      Shift Types
    %a.nav-link{id:"shift-schedules-tab", 'data-toggle' => "pill", href:"#shift-schedules", role:"tab", 'aria-controls' => "shift-schedules", 'aria-selected' => "false"}
      Shift Schedules
    %a.nav-link{id:"shifts-tab", 'data-toggle' => "pill", href:"#shifts", role:"tab", 'aria-controls' => "shifts", 'aria-selected' => "false"}
      Shifts
    %a.nav-link{id:"volunteers-tab", 'data-toggle' => "pill", href:"#volunteers", role:"tab", 'aria-controls' => "volunteers", 'aria-selected' => "false"}
      Volunteers
      - if @pending_users.any?
        %span.badge.badge-info= @pending_users.count

.side-bar-right
  .tab-content{id:"tabContent"}
    .tab-pane.active{id:"details", role:"tabpanel", 'aria-labelledby' => "details-tab"}
      = render 'organizations/manage/details'
    .tab-pane{id:"admins", role:"tabpanel", 'aria-labelledby' => "admins-tab"}
      = render 'organizations/manage/admins'
    .tab-pane{id:"roles", role:"tabpanel", 'aria-labelledby' => "roles-tab"}
      = render 'organizations/manage/roles'
    .tab-pane{id:"shifts", role:"tabpanel", 'aria-labelledby' => "shifts-tab"}
      = render 'organizations/manage/shifts'
    .tab-pane{id:"shift-types", role:"tabpanel", 'aria-labelledby' => "shift-types-tab"}
      = render 'organizations/manage/shift_types'
    .tab-pane{id:"shift-schedules", role:"tabpanel", 'aria-labelledby' => "shift-schedules-tab"}
      = render 'organizations/manage/shift_schedules'
    .tab-pane{id:"volunteers", role:"tabpanel", 'aria-labelledby' => "volunteers-types-tab"}
      = render 'organizations/manage/volunteers'
