- content_for :title, 'Organizations'

%h2.page-header Organizations

.side-bar
  = bootstrap_form_tag url: search_organizations_path, :method => "get" do
    = label_tag "Zip Code"
    = text_field_tag :zip_code
    = label_tag "Radius"
    = select_tag :radius, options_for_select(@radii, @radius)
    - unless current_user.user_organizations.empty?
      = label_tag "Hide my organizations"
      = check_box_tag :hide_my_organizations, true, @hide_my_organizations
    = submit_tag "Update Search", class: 'btn btn-primary'

  %p= link_to 'Reset', search_organizations_path

.side-bar-right
  .panel.panel-default
    .table-responsive
      %table.table.table-striped
        %tbody
          - @organizations.each do |org|
            %tr
              %td.table-img-td
                - if org.logo.present?
                  = image_tag org.logo, class: 'table-logo'
              %td= link_to org.name, organization_path(org)
              %td= org.description
              %td= link_to org.url, "http://#{org.url}"
              %td
                - if current_user.has_access?(org.id)
                  = link_to 'Find Shifts', search_shifts_path(organization_ids: [org.id]), {class: 'btn btn-success table-btn'}
                - else
                  = button_to 'Request Access', request_access_organization_path(org), {class: 'btn btn-primary table-btn', params: {user_id: current_user.id}, data: { confirm: "Are you sure you want to request access from #{org.name}?" }}
