- content_for :title, @organization.name

%h2.page-header= @organization.name

%h3
  Details
  %small{style: 'float: right;'}= link_to "Edit", edit_organization_path(@organization)

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Name
          %th Description
          %th Url
          %th Requires Approval
        %tr
          %td= @organization.name
          %td= @organization.description
          %td= @organization.url
          %td= @organization.requires_approval

%h3
  Admins

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Name
        - @organization.admins.each do |admin|
          %tr
            %td= admin.full_name

%h3
  Roles
  %small{style: 'float: right;'}= link_to 'Create a new role', new_role_path

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Name
          %th Description
        - @organization.roles.each do |role|
          %tr
            %td= role.name
            %td= role.description

%h3
  Shift Types
  %small{style: 'float: right;'}= link_to 'Create a new shift type', new_shift_type_path

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Name
          %th Description
          %th Address
          %th Required Role
        - @organization.shift_types.each do |type|
          %tr
            %td= link_to type.name, shift_type_path(type)
            %td= type.description
            %td= type.address.line_1
            %td= type.role.present? ? type.role.name : 'N/A'

%h3 Top Volunteers

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Name
          %th Shift Count
        - @organization.top_volunteers.each do |user, shift_count|
          %tr
            %td= link_to user.full_name, user_path(user)
            %td= shift_count

%h3
  Shifts
  %small{style: 'float: right;'}= link_to 'Create a new shift', new_shift_path

= render partial: 'shifts/admin_table', locals: { shifts: @organization.shifts, can_cancel: false }
