- content_for :title, @organization.name

%h2.page-header
  - if @organization.logo.present?
    = image_tag @organization.logo, style: "max-height: 60px; max-width: 60px;"
  = @organization.name
  %small{style: 'float: right;'}
    - if current_user.has_access?(@organization.id)
      = button_to 'Find Shifts', search_shifts_path(organization_ids: [@organization.id]), {class: 'btn btn-success'}
    - else
      = button_to 'Request Access', request_access_organization_path(@organization), {class: 'btn btn-primary', params: {user_id: current_user.id}, data: { confirm: "Are you sure you want to request access from #{@organization.name}?" }}

%h4 About
%p= @organization.description

%h4 Website
%p= link_to @organization.url, "http://#{@organization.url}"

%h4 Contacts

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Name
          %th Email
        - @organization.admins.each do |admin|
          %tr
            %td= admin.full_name
            %td= admin.email

%h4 Shift Types

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Name
          %th Description
          %th Address
        - @organization.shift_types.each do |type|
          %tr
            %td= link_to type.name, shift_type_path(type)
            %td= type.description
            %td= type.address.line_1

