- content_for :title, @organization.name

%h2.page-header= @organization.name

%h3
  Details

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Name
          %th Description
          %th Url
        %tr
          %td= @organization.name
          %td= @organization.description
          %td= @organization.url

%h3
  Admins

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Name
        - @organization.admins.each do |admin|
          %tr
            %td= admin.full_name

%h3
  Shift Types

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Name
          %th Description
          %th Address
          %th Required Role
        - @organization.shift_types.each do |type|
          %tr
            %td= link_to type.name, shift_type_path(type)
            %td= type.description
            %td= type.address.line_1
            %td= type.role.present? ? type.role.name : 'N/A'

