- content_for :title, "Edit Shift Type"

%h2.page-header= "Edit #{@shift_type.name}"

= bootstrap_form_for @shift_type, layout: :horizontal, control_col: "col-sm-9" do |f|
  = f.hidden_field :organization_id, value: 1
  = f.text_field :name
  = f.text_area :description
  = f.select(:address_id, @addresses)
  = f.select(:role_id, @roles)
  = f.submit
