- content_for :title, @shift_type.name

%h2.page-header= @shift_type.name

%p= link_to "Edit", edit_shift_type_path(@shift_type)

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Name
          %th Description
          %th Address
          %th Required Role
        %tr
          %td= @shift_type.name
          %td= @shift_type.description
          %td= @shift_type.address.line_1
          %td
            - if @shift_type.role
              = link_to @shift_type.role.name, role_path(@shift_type.role)
            - else
              N/A
