!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for?(:title) ? yield(:title) : "Volunteerable"
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    / Optional theme
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    = csrf_meta_tags
  %body{"data-action" => "#{controller.action_name}", "data-controller" => "#{controller.controller_name}"}
    %nav.navbar.navbar-fixed-top.navbar-custom
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.home.navbar-brand{:href => "/"}
            Volunteerable

        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            - if controller.controller_name == 'home'
              %li
                %a{:href => "#faq"}= "Sign Up"
              %li
                %a{:href => "#faq"}= "Log In"
            - else
              - if @current_user.admin_organization.present?
                %li.dropdown
                  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => manage_organization_path(@current_user.admin_organization), :role => "button"}
                    Manage #{@current_user.admin_organization.name}
                  %ul.dropdown-menu{:role => "menu"}
                    %li= link_to "Overview", organization_path(@current_user.admin_organization)
                    %li= link_to "Shift Types", shift_types_path
                    %li= link_to "Roles", roles_path
                    %li= link_to "Shifts", shifts_path
                    %li= link_to "Volunteers", users_path
              - else
                %li= link_to "Create An Organization", new_organization_path
              %li= link_to "Organizations", organizations_path
              %li= link_to "Find Shifts", search_shifts_path
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  %i.fa.fa-user.fa-lg>
                    #{@current_user.full_name}
                %ul.dropdown-menu{:role => "menu"}
                  %li= link_to 'Profile', user_path(@current_user)
                  %li= link_to "My Organizations", my_organizations_user_path(@current_user)
                  %li= link_to "My Shifts", my_shifts_user_path(@current_user)

    - flash.each do |key, value|
      .alert{class: "alert-#{key}", style: 'width: 80%; margin: auto; margin-bottom: 20px;' }
        %button.close{ :data => { :dismiss => "alert" } } x
        %strong
          = value

    - if controller.controller_name == 'home'
      = yield
    - else
      %div{id: 'main'}
        = yield
